.puzzle-box {
  position: relative;
}

.puzzle-box .puzzle-tile-wrap {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(216, 216, 216);
  margin: 1px;

  background-image: url(../img/pup.png);
  background-size: 400px;
}

.puzzle-box .puzzle-tile-wrap .puzzle-tile {
  font-size: 1em;
  color: #FFFFFF;
  padding: 2px;
  display: none;
}